html {
	height: 100%;
}
body {
	min-height: 100%;
}
* {
	padding: 0;
	margin: 0;
	font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
}
.clearboth {
	clear: both;
}
#header {
	position: relative;
	top: 0px;
	width: 100%;
	min-width: 950px;
	height: 45px;
	display: block;
	background-color: #333333;
	color: #ffffff;
}
#logo {
	width: 130px;
	float: left;
}
#logo h1 {
	padding: 10px 0 0 10px;
	font-size: 1.5em;
}
#runDiv {
	position: absolute;
	left: 50%;
	margin-top: 6px;
}
#runButton {
	width: 35px;
	height: 35px;
	background: url(../img/play-icon5.png);
	background-repeat: no-repeat;
	border: none;
}
.buttons-panel {	
	display: table;
	margin-top: 12px;
	margin-right: 10px;
	float: right;
	text-align: center;
}
.button {
	display: table-cell;
	padding: 0;
	border: none;
	background: none;
	background-color: #fff;
	height: 25px;
	font-size: 0.8em;
}
#html-button, #css-button {
	border-right: 1px solid gray;
}
#html-button {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#js-button {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.button.non-active {
	background-color: #424242;
	color: #fff;
}
#container {
	position: relative;
	width: 100%;
}
#editor {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
	min-width: 950px;
	height: 100%;
}
#editor-code {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 350px;
	background-color: #0A2229;
}
.horizontal-resizer {
	width: 100%;
	height: 5px;
	cursor: row-resize;
	background-color: red;
}
#editor-result {
	position: relative;
	border: 2px solid #173B0B;
}
#resultFrame {
	border: none;
	width: 100%;
	height: 100%;
}
#html-part, #css-part, #js-part {
	position: relative;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
  	-webkit-flex-shrink: 0;
  	    -ms-flex-negative: 0;
  	        flex-shrink: 0;
  	-webkit-flex-basis: auto;
  	    -ms-flex-preferred-size: auto;
  	        flex-basis: auto;
	border: 2px solid #2E2E2E;
}
.CodeMirror {
	position: absolute;
	top: 30px;
	height: 90%;
	width: 100%;
}

.code-part-header {
	position: relative;
}
.code-part-header-line {
	position: absolute;
	width: 100%;
	background-color: #FE2E64;
	height: 100%;
	opacity: 0.1;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
.code-part-header h4 {
	margin: 0;
	padding: 5px;
	color: #fff;
	text-align: left;
	font-size: 0.8em;

}
#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	min-width: 950px;
	height: 30px;
	display: block;
	background-color: #333333;
	font-size: 0.9em;
	color: #ffffff;
}
#footer a {
	color: #F8BBD0;
}